.choreButton {
    margin: 10px;
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid black;
    background-color: #f2f2f2;
    color: black;
    cursor: pointer;
    transition-duration: 0.4s;
}

.choreButton:hover {
    background-color: #4CAF50;
    color: white;
}

.choreButton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.chore-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.chore-subtitle {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.chore-date {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.choreSection {
    background-color: aliceblue;
    border-radius: 100px;
}

.noteSection {
    background-color: aliceblue;
    border-radius: 100px;
}

.shoppingSection {
    background-color: aliceblue;
    border-radius: 100px;
}

.heroSection {
    background-color: aliceblue;
    border-radius: 100px;
}

.slideshow {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slideshow img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slideshow img.active {
    opacity: 1;
}

.choreInput {
    width: 15%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid black;
    background-color: #f2f2f2;
    color: black;
    cursor: pointer;
    transition-duration: 0.4s;
}

.choreDate {
    width: 15%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid black;
    background-color: #f2f2f2;
    color: black;
    cursor: pointer;
    transition-duration: 0.4s;
}

.choreAssignee {
    width: 15%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid black;
    background-color: #f2f2f2;
    color: black;
    cursor: pointer;
    transition-duration: 0.4s;
}


.chat {
    text-align: center;
    padding: 20px;
    background-color: cadetblue;
}

.chatRoomNames {
    margin: 10px;
    color: aliceblue;
}

.chat-room-messages {
    margin: 10px;
    color: aliceblue;
    background-color: cadetblue;
}

.message {
    margin: 10px;
    color: aliceblue;
    background-color: cadetblue;
}

.chatMessageInput {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid black;
    background-color: #f2f2f2;
    color: black;
    cursor: pointer;
    transition-duration: 0.4s;
}